.jumbotron {
    text-align: center;
    }
h2 {
    font-size: 1.4em;
}
.image-size {
    height: 145px;
}
h4 {
    text-align: center;
    font-size: 2em;
}

body {font-size: 1em;
    margin: 20px;
    padding: 50px;
}